{% extends "page.twig" %}

{% block header_container %}{% endblock %}

{% block content %}

	<div class="section section--tight home-intro">

		<div class="container-fluid">

			<div class="row">

				<div class="col-sm-8 col-sm-offset-2">

					{% if post.intro_image %}

						<img src="{{ Image(post.intro_image_id).src('large')|resize(175,0) }}" alt="Podcast Artwork" class="home-intro__image">

					{% endif %}

					{% if post.intro_title %}

						<h1 class="home-intro__title">
							{{ post.intro_title }}
						</h1>

					{% endif %}

					{% if post.content %}

						<div class="home-intro__text the-content">
							{{ post.content }}
						</div>

					{% endif %}

					<div class="subscribe-links">

						<a href="https://www.buzzsprout.com/171613.rss" class="subscribe-link">
							<i class="fa fa-rss"></i> RSS
						</a>

						<a href="https://itunes.apple.com/us/podcast/legacy/id1373613166" class="subscribe-link">
							<i class="fa fa-music"></i> iTunes
						</a>

{# 						<a href="#" class="subscribe-link">
							<i class="fa fa-google"></i> Google Play
						</a> #}

						<a href="https://overcast.fm/itunes1373613166/legacy" class="subscribe-link">
							<i class="fa fa-plus"></i> Overcast
						</a>

{# 						<a href="#" class="subscribe-link">
							<i class="fa fa-plus"></i> Pocketcasts
						</a> #}

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="section">

		<div class="container-fluid">

			<div class="episode-teases">

				{% for episode in episodes %}

					<div class="episode-tease">

						<div class="episode-tease__left">

							{% if episode.number %}

								<a href="{{ episode.link }}">

									{% if episode.thumbnail %}
										<img src="{{ episode.thumbnail.src('large')|resize(300, 225) }}" alt="{{ episode.thumbnail.alt|default('Thumbnail for ' ~ episode.title) }}" class="episode-tease__image">
									{% else %}
										<img src="{{ theme.link }}/assets/img/episode-thumb-placeholder.jpg" alt="Legacy Podcast Episode artwork" class="episode-tease__image">
									{% endif %}

									<div class="episode-tease__number">
										No. {{ episode.number }}
									</div>

								</a>

							{% endif %}

						</div>

						<div class="episode-tease__right">

							<div class="single-meta episode-tease__overline">

								<div class="single-meta__item">
									{{ episode.date }}
								</div>

								{% if episode.length %}
									<div class="single-meta__item">
										{{ episode.length }}
									</div>
								{% endif %}

								{% if episode.number %}
									<div class="single-meta__item">
										Episode {{ episode.number }}
									</div>
								{% endif %}

							</div>

							<h3 class="single-title episode-tease__title">
								<a href="{{ episode.link }}">
									{{ episode.title }}
								</a>
							</h3>

							{% if episode.content %}

								<div class="episode-tease__content">

									{{ episode.get_preview(40, '', '') }}

								</div>

							{% endif %}

						</div>

					</div>

				{% endfor %}

			</div>

		</div>

	</div>

	{% block bio_container %}

		<div class="bio section section--tight section--dark">

			<div class="container-fluid">

				<div class="row">

					<div class="col-sm-10 col-sm-offset-1">

						<div class="bio__inner">

							<div class="bio__body">

								<div class="bio__overline">
									Your devoted host,
								</div>

								<h3 class="bio__title">
									Michelle Harven
								</h3>

								<div class="bio__text">
									Michelle Harven is a journalist living in Washington, D.C., and an associate producer for the PBS NewsHour.
								</div>

								<div class="links-list">

									<a href="http://www.michelleharven.com" class="link-list__link">
										MichelleHarven.com
									</a>

									<a href="https://twitter.com/michelleharven" class="link-list__link">
										Twitter
									</a>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	{% endblock %}

{% endblock %}