{% extends "page.twig" %}

{% block content %}

	<div class="section">

		<div class="container-fluid">

			<div class="episode-teases">

				{% for episode in episodes %}

					<div class="episode-tease">

						<div class="episode-tease__left">

							{% if episode.number %}

								<a href="{{ episode.link }}">

									<img src="{{ episode.thumbnail.src('large')|resize(300, 225) }}" alt="{{ episode.thumbnail.alt|default('Thumbnail for ' ~ episode.title) }}" class="episode-tease__image">

									<div class="episode-tease__number">
										No. {{ episode.number }}
									</div>

								</a>

							{% endif %}

						</div>

						<div class="episode-tease__right">

							<div class="episode-tease__overline">

								{{ episode.date }}

								{% if episode.length %}
									&nbsp; · &nbsp;{{ episode.length }}
								{% endif %}

								{% if episode.number %}
									&nbsp; · &nbsp;Episode {{ episode.number }}
								{% endif %}

							</div>

							<h3 class="episode-tease__title">
								<a href="{{ episode.link }}">
									{{ episode.title }}
								</a>
							</h3>

							{% if episode.content %}

								<div class="episode-tease__content">

									{{ episode.get_preview(40, '', '') }}

								</div>

							{% endif %}

						</div>

					</div>

				{% endfor %}

			</div>

		</div>

	</div>

{% endblock %}