{% extends "base.twig" %}

{% block content %}

	{% block single_header %}

		<div class="single-header">

			{% block single_overline %}{% endblock %}

			{% block single_title %}

				<h1 class="single-title">
					{{ post.title }}
				</h1>

			{% endblock %}

			{% block single_meta %}

				<div class="single-meta">

					<div class="single-meta__item">
						{{ post.date }}
					</div>

				</div>

			{% endblock %}

		</div>

	{% endblock %}

	{% block single_main %}

		<div class="single-main">

			{% block single_thumbnail %}

				{% if post.thumbnail %}

					<div class="single-thumbnail">

						<img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt|default('Featured Image') }}" class="single-thumbnail__img">

						{% if post.thumbnail.caption %}

							<div class="single-thumbnail__caption">
								{{ post.thumbnail.caption }}
							</div>

						{% endif %}

					</div>

				{% endif %}

			{% endblock %}

		</div>

	{% endblock %}

{% endblock %}
